[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Résultat de recherche d'images pour "cadeau"
Type=Link
URL=https://www.google.fr/imgres?imgurl=http://lacetbleu.be/traiteur/wp-content/uploads/2015/11/cadeau.jpg&imgrefurl=http://lacetbleu.be/traiteur/boutique/bons-cadeaux/bon-cadeau-lunch/&h=800&w=800&tbnid=HbA1nHRR8EKtPM:&tbnh=186&tbnw=186&usg=__5sacALF7qQiNWxtpj3iWGOFE69M=&vet=1&docid=c1nADy5Kzr5SoM&itg=1&client=ubuntu&sa=X&ved=0ahUKEwjUv8G2gqzXAhWMcBoKHVvHB9QQ_B0I8QUwDQ
Icon=text-html
