/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************/
/****************************/
.btn {
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: black;
  border: 1px solid black; }

.btn:hover {
  cursor: pointer; }

.btn-blue {
  background-color: #B0E0E6; }

.btn-red {
  background-color: #FFA07A; }

.btn-green {
  background-color: #98FB98; }

.btn-sl {
  padding: 0.5rem;
  font-size: 0.5rem;
  border-radius: 5px; }

.btn-lg {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px; }

.btn-fat {
  border-radius: 0px;
  border: 0px solid black; }

.btn-ex-lg {
  width: 100%; }

.btn-fancy {
  background-image: linear-gradient(white, black);
  color: white;
  box-shadow: 5px 5px; }

body {
  font-size: 12pt;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  text-align: justify; }

h1 {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center; }

h2 {
  margin: auto;
  font-size: 1.8em;
  font-weight: bold;
  color: black;
  text-align: center; }

h3 {
  margin: auto;
  font-size: 1.6em;
  font-weight: bold;
  color: black;
  text-align: center; }

h4 {
  margin: auto;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  text-align: center; }

h5 {
  margin: auto;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-align: center; }

h6 {
  margin: auto;
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: center; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: grey;
  font-size: 0.8em;
  text-align: center; }

p {
  margin-bottom: 0.5em; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through;
  font-style: italic; }

ins {
  text-decoration: underline;
  font-style: italic; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: dashed underline; }

blockquote {
  background-color: black;
  width: 75%;
  margin: auto; }

quote::before, quote::after {
  content: '"'; }

code {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

pre {
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

kbd {
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

kbd::before, kbd::after {
  content: '"'; }

ul {
  list-style-type: disc;
  text-decoration: none; }

li {
  text-decoration: none; }

/*****************************/
/****************************/
.navbar {
  display: inline-block;
  color: rgba(0, 0, 0, 0); }

.narbar li:hover {
  color: rgba(128, 128, 128, 0); }

.disabled {
  opacity: 0.6;
  text-decoration: line-through;
  cursor: default; }

.active {
  opacity: 1;
  text-decoration: inherit; }

ul.breadcrumb {
  padding: 1em 2em;
  list-style: none;
  background-color: #eee; }

ul.breadcrumb li {
  display: inline;
  font-size: 0.8rem; }

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

.pagination {
  display: inline-block; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none; }

header {
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.jumbotron {
  background-color: #DCDCDC;
  text-align: center;
  font-size: 1.2rem; }

/*****************************/
/****************************/
.alerte-success {
  color: #3c763d;
  border: 1px solid #67b168;
  background-color: #aad4ab;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-info {
  color: #31708f;
  border: 1px solid #5ea5c8;
  background-color: #aad0e2;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-avertissement {
  color: #8a6d3b;
  border: 1px solid #c0a16b;
  background-color: #deceb3;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-danger {
  color: #a94442;
  border: 1px solid #ce8483;
  background-color: #ebcdcc;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

/*# sourceMappingURL=frameworkCSS.css.map */
