/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************/
/****************************/
.btn {
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: black;
  border: 1px solid black; }

.btn:hover {
  cursor: pointer; }

.btn-blue {
  background-color: #B0E0E6; }

.btn-red {
  background-color: #FFA07A; }

.btn-green {
  background-color: #98FB98; }

.btn-sl {
  padding: 0.5rem;
  font-size: 0.5rem;
  border-radius: 5px; }

.btn-lg {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px; }

.btn-fat {
  border-radius: 0px;
  border: 0px solid black; }

.btn-ex-lg {
  width: 100%; }

.btn-fancy {
  background-image: linear-gradient(white, black);
  color: white;
  box-shadow: 5px 5px; }

body {
  font-size: 12pt;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  text-align: justify; }

h1 {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center; }

h2 {
  margin: auto;
  font-size: 1.8em;
  font-weight: bold;
  color: black;
  text-align: center; }

h3 {
  margin: auto;
  font-size: 1.6em;
  font-weight: bold;
  color: black;
  text-align: center; }

h4 {
  margin: auto;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  text-align: center; }

h5 {
  margin: auto;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-align: center; }

h6 {
  margin: auto;
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: center; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: grey;
  font-size: 0.8em;
  text-align: center; }

p {
  margin-bottom: 0.5em; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through;
  font-style: italic; }

ins {
  text-decoration: underline;
  font-style: italic; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: dashed underline; }

blockquote {
  background-color: black;
  width: 75%;
  margin: auto; }

quote::before, quote::after {
  content: '"'; }

code {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

pre {
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

kbd {
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

kbd::before, kbd::after {
  content: '"'; }

ul {
  list-style-type: disc;
  text-decoration: none; }

li {
  text-decoration: none; }

/*****************************/
/****************************/
.navbar {
  display: inline-block;
  color: rgba(0, 0, 0, 0); }

.narbar li:hover {
  color: rgba(128, 128, 128, 0); }

.disable {
  opacity: 0.6;
  text-decoration: line-through;
  cursor: default; }

.active {
  opacity: 1;
  text-decoration: inherit; }

ul.breadcrumb {
  padding: 1em 2em;
  list-style: none;
  background-color: #eee; }

ul.breadcrumb li {
  display: inline;
  font-size: 0.8rem; }

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

.pagination {
  display: inline-block; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none; }

header {
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.jumbotron {
  background-color: #DCDCDC;
  text-align: center;
  font-size: 1.2rem; }

/*****************************/
/****************************/
.alerte-success {
  color: #3c763d;
  border: 1px solid #67b168;
  background-color: #aad4ab;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-info {
  color: #31708f;
  border: 1px solid #5ea5c8;
  background-color: #aad0e2;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-avertissement {
  color: #8a6d3b;
  border: 1px solid #c0a16b;
  background-color: #deceb3;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-danger {
  color: #a94442;
  border: 1px solid #ce8483;
  background-color: #ebcdcc;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

#sign_up {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #sign_up article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #sign_up article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #sign_up article form label {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1em; }
      #sign_up article form input {
        width: 80%;
        margin: auto;
        text-align: center; }
      #sign_up article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em; }
      #sign_up article form textarea {
        margin: auto;
        text-align: center;
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
  @media screen and (min-width: 280px) {
    #sign_up article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #sign_up article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #sign_up article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #sign_up article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #sign_up article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #sign_up article form {
      width: 40%; } }

#login {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #login article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #login article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #login article form label {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1em; }
      #login article form input {
        width: 80%;
        margin: auto;
        text-align: center; }
      #login article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em; }
      #login article form textarea {
        margin: auto;
        text-align: center;
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
  @media screen and (min-width: 280px) {
    #login article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #login article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #login article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #login article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #login article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #login article form {
      width: 40%; } }

#home article:nth-child(1) {
  margin-left: 2.2222222222%;
  width: 95.5555555556%; }
#home article:nth-child(2) {
  margin-left: 2.2222222222%;
  width: 95.5555555556%; }
  #home article:nth-child(2) ul {
    list-style-type: none; }
    #home article:nth-child(2) ul li {
      margin-top: 0.3em; }
#home article:nth-child(3) {
  margin-left: 2.2222222222%;
  width: 95.5555555556%; }
#home article:nth-child(4) {
  margin-left: 2.2222222222%;
  width: 95.5555555556%; }

@media screen and (min-width: 480px) {
  #home article:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }
  #home article:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }
    #home article:nth-child(2) ul {
      list-style-type: none; }
      #home article:nth-child(2) ul li {
        margin-top: 0.3em; }
  #home article:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }
  #home article:nth-child(4) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; } }
@media screen and (min-width: 1025px) {
  #home article:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
  #home article:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
    #home article:nth-child(2) ul {
      list-style-type: none; }
      #home article:nth-child(2) ul li {
        margin-top: 0.3em; }
  #home article:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
  #home article:nth-child(4) {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; } }
#item {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  #item aside {
    margin-bottom: auto;
    padding: 1em 0 1em 0;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    background-color: #DCDCDC;
    border: 2px solid black;
    border-radius: 5px; }
    #item aside p {
      border: 1px solid black;
      border-radius: 5px;
      font-size: 1em;
      padding: 0.2em;
      text-align: left;
      width: 80%;
      margin: auto;
      margin-top: 0.2em;
      margin-bottom: 0.2em; }
    #item aside form {
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap; }
      #item aside form textarea {
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
      #item aside form label {
        margin-left: 2.2222222222%;
        width: 95.5555555556%;
        text-align: center;
        font-size: 1.2em; }
      #item aside form input[type=text] {
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
      #item aside form input[type=submit] {
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
  #item div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
  #item #lienAjout {
    margin: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5em;
    color: black;
    box-sizing: border-box;
    background-color: #CCC414;
    text-decoration: none;
    text-align: center;
    margin-left: 14.4444444444%;
    width: 71.1111111111%;
    max-height: 2em; }
    #item #lienAjout:hover {
      cursor: pointer;
      background-color: #eae229; }
    #item #lienAjout a {
      text-decoration: none;
      color: black; }
    #item #lienAjout a:hover {
      color: #1a1a1a; }
  #item div article {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    max-height: 35em; }
    #item div article div:first-child {
      width: 100%;
      padding: 0.5em;
      display: flex;
      flex-wrap: wrap; }
      #item div article div:first-child a:first-child {
        margin-left: 75.5555555556%;
        width: 10%;
        background-image: url("images/modifier.png");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; }
      #item div article div:first-child a:last-child {
        margin-left: 2.2222222222%;
        width: 10%;
        background-image: url("images/supprimer.png");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; }
    #item div article div:nth-child(2) {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      #item div article div:nth-child(2) a {
        margin-left: 2.2222222222%;
        width: 46.6666666667%;
        text-align: center;
        display: flex;
        flex-wrap: wrap; }
      #item div article div:nth-child(2) a img {
        margin: auto; }
      #item div article div:nth-child(2) aside {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
    #item div article form {
      width: 100%;
      flex-wrap: wrap;
      display: flex; }
      #item div article form label {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 1em; }
      #item div article form input {
        width: 80%;
        margin: auto;
        text-align: center; }
      #item div article form textarea {
        width: 80%;
        height: 3em;
        margin: auto; }
      #item div article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em; }

@media screen and (min-width: 600px) {
  #item aside {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
  #item div {
    margin-left: 2.2222222222%;
    width: 71.1111111111%; }
    #item div article {
      margin-left: 2.2222222222%;
      width: 46.6666666667%; } }
@media screen and (min-width: 1750px) {
  #item div article {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; } }
#liste {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #liste #lienAjout {
    margin: auto;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5em;
    color: black;
    box-sizing: border-box;
    background-color: #CCC414;
    text-decoration: none;
    text-align: center;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
    #liste #lienAjout:hover {
      cursor: pointer;
      background-color: #eae229; }
    #liste #lienAjout a {
      text-decoration: none;
      color: black; }
    #liste #lienAjout a:hover {
      color: #1a1a1a; }
  #liste article {
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
    #liste article p:nth-child(1) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
      order: 4; }
      #liste article p:nth-child(1) a {
        color: black;
        text-decoration: none; }
    #liste article a:nth-child(2) {
      margin-left: 38.8888888889%;
      width: 10%;
      background-image: url("images/url.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 1; }
    #liste article a:nth-child(3) {
      margin-left: 14.4444444444%;
      width: 10%;
      background-image: url("images/modifier.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 2; }
    #liste article a:nth-child(4) {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 14.4444444444%;
      width: 10%;
      background-image: url("images/supprimer.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 3; }
    #liste article p:nth-child(5) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      padding: 1em 0 1em 0;
      margin-top: auto;
      margin-bottom: auto;
      order: 5; }
    #liste article p:nth-child(6) {
      margin-left: 2.2222222222%;
      width: 71.1111111111%;
      margin-top: auto;
      margin-bottom: auto;
      order: 6; }
    #liste article p:nth-child(7) {
      margin-left: 2.2222222222%;
      width: 22.2222222222%;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      order: 7; }
  #liste article[close=y] {
    background-color: grey; }
  #liste article:hover {
    background-color: white; }

@media screen and (min-width: 480px) {
  #liste article {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; } }
@media screen and (min-width: 1281px) {
  #liste article p:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 58.8888888889%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    order: 1; }
  #liste article a:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 10%;
    order: 2; }
  #liste article a:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 10%;
    order: 3; }
  #liste article a:nth-child(4) {
    margin-left: 2.2222222222%;
    width: 10%;
    order: 4; } }
@media screen and (min-width: 1750px) {
  #liste article {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
    #liste article p:nth-child(1) {
      margin-left: 2.2222222222%;
      width: 58.8888888889%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
      order: 1; }
    #liste article a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 10%;
      order: 2; }
    #liste article a:nth-child(3) {
      margin-left: 2.2222222222%;
      width: 10%;
      order: 3; }
    #liste article a:nth-child(4) {
      margin-left: 2.2222222222%;
      width: 10%;
      order: 4; } }
#add_liste {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #add_liste article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #add_liste article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #add_liste article form label {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1em; }
      #add_liste article form input {
        width: 80%;
        margin: auto;
        text-align: center; }
      #add_liste article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em; }
      #add_liste article form textarea {
        margin: auto;
        text-align: center;
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
  @media screen and (min-width: 280px) {
    #add_liste article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #add_liste article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #add_liste article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #add_liste article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #add_liste article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #add_liste article form {
      width: 40%; } }

#add_cadeau {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #add_cadeau article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #add_cadeau article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #add_cadeau article form label {
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 1em; }
      #add_cadeau article form input {
        width: 80%;
        margin: auto;
        text-align: center; }
      #add_cadeau article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em; }
      #add_cadeau article form textarea {
        margin: auto;
        text-align: center;
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
  @media screen and (min-width: 280px) {
    #add_cadeau article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #add_cadeau article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #add_cadeau article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #add_cadeau article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #add_cadeau article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #add_cadeau article form {
      width: 40%; } }

html {
  height: 100%; }

body {
  display: flex;
  flex-wrap: wrap;
  font-size: 8pt;
  background-color: #2988B2;
  height: 100%; }

#wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 8em;
  box-sizing: border-box;
  width: 100%; }

header {
  margin: auto;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 8pt;
  box-sizing: border-box;
  width: 100%; }
  header img {
    margin: auto; }
  header #accueil {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0.8; }
    header #accueil a {
      margin: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      header #accueil a img {
        margin: auto;
        border-radius: 0 0 10px 10px; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    header nav a {
      margin-top: 0.5em;
      border-radius: 10px;
      font-size: 1rem;
      padding: 0.5em;
      color: white;
      box-sizing: border-box;
      background-color: #FF193A;
      text-decoration: none;
      opacity: 0.8;
      margin-left: 2.2222222222%;
      width: 46.6666666667%;
      text-align: center; }
      header nav a:hover {
        cursor: pointer;
        background-color: #ff4c66; }
      header nav a a {
        text-decoration: none;
        color: white; }
      header nav a a:hover {
        color: white; }
    header nav a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 46.6666666667%; }

section {
  display: flex;
  flex-wrap: wrap; }

article {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #00B0FF;
  text-align: justify;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 5px; }

footer {
  width: 100%;
  height: 8em;
  background-color: black;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0; }
  footer div {
    margin-left: 2.2222222222%;
    width: 46.6666666667%;
    display: flex;
    flex-wrap: wrap; }
    footer div ul {
      list-style-type: none;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      footer div ul li {
        width: 100%;
        padding: 0.5em;
        text-align: center;
        margin: auto; }

@media screen and (min-width: 280px) {
  body {
    font-size: 8pt; } }
@media screen and (min-width: 480px) {
  body {
    font-size: 8.5pt; } }
@media screen and (min-width: 600px) {
  body {
    font-size: 9pt; } }
@media screen and (min-width: 801px) {
  body {
    font-size: 10pt; } }
@media screen and (min-width: 1025px) {
  body {
    font-size: 11pt; } }
@media screen and (min-width: 1281px) {
  body {
    font-size: 12pt; } }

/*# sourceMappingURL=design.css.map */
