/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************/
/****************************/
.btn {
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  color: black;
  border: 1px solid black; }

.btn:hover {
  cursor: pointer; }

.btn-blue {
  background-color: #B0E0E6; }

.btn-red {
  background-color: #FFA07A; }

.btn-green {
  background-color: #98FB98; }

.btn-sl {
  padding: 0.5rem;
  font-size: 0.5rem;
  border-radius: 5px; }

.btn-lg {
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 15px; }

.btn-fat {
  border-radius: 0px;
  border: 0px solid black; }

.btn-ex-lg {
  width: 100%; }

.btn-fancy {
  background-image: linear-gradient(white, black);
  color: white;
  box-shadow: 5px 5px; }

body {
  font-size: 12pt;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: black;
  text-align: justify; }

h1 {
  margin: auto;
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center; }

h2 {
  margin: auto;
  font-size: 1.8em;
  font-weight: bold;
  color: black;
  text-align: center; }

h3 {
  margin: auto;
  font-size: 1.6em;
  font-weight: bold;
  color: black;
  text-align: center; }

h4 {
  margin: auto;
  font-size: 1.4em;
  font-weight: bold;
  color: black;
  text-align: center; }

h5 {
  margin: auto;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
  text-align: center; }

h6 {
  margin: auto;
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-align: center; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: grey;
  font-size: 0.8em;
  text-align: center; }

p {
  margin-bottom: 0.5em; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through;
  font-style: italic; }

ins {
  text-decoration: underline;
  font-style: italic; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  text-decoration: dashed underline; }

blockquote {
  background-color: black;
  width: 75%;
  margin: auto; }

quote::before, quote::after {
  content: '"'; }

code {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

pre {
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

kbd {
  font-family: "Courier New", Courier, "Liberation Mono", monospace; }

kbd::before, kbd::after {
  content: '"'; }

ul {
  list-style-type: disc;
  text-decoration: none; }

li {
  text-decoration: none; }

/*****************************/
/****************************/
.navbar {
  display: inline-block;
  color: rgba(0, 0, 0, 0); }

.narbar li:hover {
  color: rgba(128, 128, 128, 0); }

.disabled {
  opacity: 0.6;
  text-decoration: line-through;
  cursor: default; }

.active {
  opacity: 1;
  text-decoration: inherit; }

ul.breadcrumb {
  padding: 1em 2em;
  list-style: none;
  background-color: #eee; }

ul.breadcrumb li {
  display: inline;
  font-size: 0.8rem; }

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none; }

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

.pagination {
  display: inline-block; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none; }

header {
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.jumbotron {
  background-color: #DCDCDC;
  text-align: center;
  font-size: 1.2rem; }

/*****************************/
/****************************/
.alerte-success {
  color: #3c763d;
  border: 1px solid #67b168;
  background-color: #aad4ab;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-info {
  color: #31708f;
  border: 1px solid #5ea5c8;
  background-color: #aad0e2;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-avertissement {
  color: #8a6d3b;
  border: 1px solid #c0a16b;
  background-color: #deceb3;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

.alerte-danger {
  color: #a94442;
  border: 1px solid #ce8483;
  background-color: #ebcdcc;
  font-size: 1.2em;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em; }

html {
  height: 100%; }

body {
  font-family: Georgia, Arial;
  display: flex;
  flex-wrap: wrap;
  font-size: 8pt;
  background-color: white;
  height: 100%; }

#wrapper {
  position: absolute;
  min-height: 100%;
  padding-bottom: 8em;
  box-sizing: border-box;
  width: 100%; }

header {
  background-color: black;
  opacity: 0.8;
  margin: auto;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 8pt;
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 0.5em; }
  header img {
    margin: auto; }
  header #accueil {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    opacity: 0.8; }
    header #accueil a {
      margin: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      header #accueil a img {
        max-width: 100%;
        margin: auto;
        border-radius: 0 0 10px 10px; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0; }
    header nav a {
      -webkit-transition-property: background-color;
      -webkit-transition-duration: 1s;
      -moz-transition-property: background-color;
      -moz-transition-duration: 1s;
      transition-property: background-color;
      transition-duration: 1s;
      margin-top: 0.5em;
      border-radius: 10px;
      font-size: 1rem;
      padding: 0.5em;
      color: black;
      box-sizing: border-box;
      background-color: white;
      text-decoration: none;
      opacity: 0.8;
      margin-left: 2.2222222222%;
      width: 46.6666666667%;
      text-align: center; }
      header nav a:hover {
        cursor: pointer;
        background-color: white; }
      header nav a a {
        text-decoration: none;
        color: black; }
      header nav a a:hover {
        color: #1a1a1a; }
    header nav a:hover {
      background-color: #cccccc; }
    header nav a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 46.6666666667%; }

section {
  display: flex;
  flex-wrap: wrap; }

article {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: white;
  text-align: justify;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 5px; }

footer {
  width: 100%;
  height: 8em;
  background-color: black;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0; }
  footer div {
    margin-left: 2.2222222222%;
    width: 46.6666666667%;
    display: flex;
    flex-wrap: wrap; }
    footer div ul {
      list-style-type: none;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      width: 100%; }
      footer div ul li {
        width: 100%;
        padding: 0.5em;
        text-align: center;
        margin: auto; }

#liste {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #liste #lienAjout {
    margin: auto;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5em;
    color: white;
    box-sizing: border-box;
    background-color: #262626;
    text-decoration: none;
    opacity: 0.9;
    text-align: center;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
    #liste #lienAjout:hover {
      cursor: pointer;
      background-color: #404040; }
    #liste #lienAjout a {
      text-decoration: none;
      color: white; }
    #liste #lienAjout a:hover {
      color: white; }
  #liste article {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
    #liste article p:nth-child(1) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
      order: 5; }
      #liste article p:nth-child(1) a {
        color: black;
        text-decoration: none; }
    #liste article a:nth-child(2) {
      margin-left: 14.4444444444%;
      width: 10%;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 1; }
    #liste article a:nth-child(3) {
      margin-left: 14.4444444444%;
      width: 10%;
      background-image: url("images/url.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 2; }
    #liste article a:nth-child(4) {
      margin-left: 14.4444444444%;
      width: 10%;
      background-image: url("images/modifier.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 3; }
    #liste article a:nth-child(5) {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 14.4444444444%;
      width: 10%;
      background-image: url("images/supprimer.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      order: 4; }
    #liste article p:nth-child(6) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      padding: 1em 0 1em 0;
      margin-top: auto;
      margin-bottom: auto;
      order: 6; }
    #liste article p:nth-child(7) {
      margin-left: 2.2222222222%;
      width: 71.1111111111%;
      margin-top: auto;
      margin-bottom: auto;
      order: 7;
      text-decoration: underline; }
    #liste article p:nth-child(8) {
      margin-left: 2.2222222222%;
      width: 22.2222222222%;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      order: 8; }
  #liste article[close=n] {
    border-color: green; }
  #liste article[close=y] {
    border-color: red;
    background-color: #cccccc; }
    #liste article[close=y] p:nth-child(1) {
      text-decoration: line-through; }
    #liste article[close=y] p:nth-child(7) {
      color: black; }
    #liste article[close=y] a:nth-child(2) {
      background-image: url("images/message.png");
      margin-left: 26.6666666667%;
      width: 10%; }
    #liste article[close=y] a:nth-child(3) {
      opacity: 0.6;
      text-decoration: line-through;
      cursor: default;
      display: none; }
    #liste article[close=y] a:nth-child(4) {
      opacity: 0.6;
      text-decoration: line-through;
      cursor: default;
      display: none; }
    #liste article[close=y] a:nth-child(5) {
      opacity: 0.6;
      text-decoration: line-through;
      cursor: default;
      margin-left: 2.2222222222%;
      width: 10%; }
  #liste article:hover {
    background-color: #999999; }

@media screen and (min-width: 480px) {
  #liste article {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }

  #liste #lienAjout {
    margin-left: 14.4444444444%;
    width: 71.1111111111%; } }
@media screen and (min-width: 801px) {
  #liste #lienAjout {
    margin-left: 26.6666666667%;
    width: 46.6666666667%;
    margin-right: 20%; } }
@media screen and (min-width: 1281px) {
  #liste #lienAjout {
    margin-left: 38.8888888889%;
    width: 22.2222222222%;
    margin-right: 20%; }

  #liste article p:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    order: 1; }
  #liste article a:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    order: 2; }
  #liste article a:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    order: 3; }
  #liste article a:nth-child(4) {
    margin-left: 2.2222222222%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    order: 4; }
  #liste article a:nth-child(5) {
    margin-left: 2.2222222222%;
    width: 10%;
    margin-top: auto;
    margin-bottom: auto;
    order: 5; } }
@media screen and (min-width: 1750px) {
  #liste article {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
    #liste article p:nth-child(1) {
      margin-left: 2.2222222222%;
      width: 46.6666666667%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
      order: 1; }
    #liste article a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 10%;
      margin-top: auto;
      margin-bottom: auto;
      order: 2; }
    #liste article a:nth-child(3) {
      margin-left: 2.2222222222%;
      width: 10%;
      margin-top: auto;
      margin-bottom: auto;
      order: 3; }
    #liste article a:nth-child(4) {
      margin-left: 2.2222222222%;
      width: 10%;
      margin-top: auto;
      margin-bottom: auto;
      order: 4; }
    #liste article a:nth-child(5) {
      margin-left: 2.2222222222%;
      width: 10%;
      margin-top: auto;
      margin-bottom: auto;
      order: 5; } }
#item {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  #item #message {
    margin-bottom: auto;
    padding: 1em 0 1em 0;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    background-color: #e6e6e6;
    border: 2px solid black;
    border-radius: 5px; }
    #item #message div {
      display: none;
      box-sizing: border-box;
      width: 100%; }
    #item #message p:nth-child(2n) {
      color: #4d4d4d; }
    #item #message p {
      box-sizing: border-box;
      font-size: 1em;
      padding: 0.2em;
      text-align: left;
      width: 100%;
      margin: auto;
      margin-top: 0.2em;
      margin-bottom: 0.2em; }
      #item #message p b {
        font-weight: bold; }
    #item #message form {
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap; }
      #item #message form textarea {
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
      #item #message form label {
        margin-left: 2.2222222222%;
        width: 95.5555555556%;
        text-align: center;
        font-size: 1.2em; }
      #item #message form input[type=text] {
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
      #item #message form input[type=submit] {
        margin-left: 2.2222222222%;
        width: 95.5555555556%; }
    #item #message h2:hover ~ div {
      display: block; }
    #item #message div:hover {
      display: block; }
  #item div {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
  #item #titre {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  #item #lienAjout {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    margin: auto;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5em;
    color: white;
    box-sizing: border-box;
    background-color: #333333;
    text-decoration: none;
    opacity: 0.9;
    text-align: center;
    margin-left: 14.4444444444%;
    width: 71.1111111111%;
    max-height: 2em; }
    #item #lienAjout:hover {
      cursor: pointer;
      background-color: #4d4d4d; }
    #item #lienAjout a {
      text-decoration: none;
      color: white; }
    #item #lienAjout a:hover {
      color: white; }
  #item div article[reserved=cagnotte] {
    border-color: orange; }
  #item div article[reserved=taken] {
    background-color: #cccccc;
    border-color: red; }
  #item div article[reserved=free] {
    border-color: green; }
  #item div article:hover {
    background-color: #b3b3b3; }
  #item div article {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    margin-top: 1em;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6e6;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    max-height: 35em; }
    #item div article p:nth-child(3) {
      font-weight: bold;
      text-align: center;
      width: 100%;
      padding: 0.5em;
      font-size: 1.5em; }
    #item div article div:first-child {
      width: 100%;
      padding: 0.5em;
      display: flex;
      flex-wrap: wrap; }
      #item div article div:first-child a:first-child {
        margin-left: 2.2222222222%;
        width: 10%;
        background-image: url("images/images.png");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; }
      #item div article div:first-child a:nth-child(2) {
        margin-left: 63.3333333333%;
        width: 10%;
        background-image: url("images/modifier.png");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; }
      #item div article div:first-child a:nth-child(3) {
        margin-left: 2.2222222222%;
        width: 10%;
        background-image: url("images/supprimer.png");
        width: 20px;
        height: 20px;
        background-repeat: no-repeat; }
    #item div article div:nth-child(2) {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      #item div article div:nth-child(2) a {
        margin-left: 2.2222222222%;
        width: 58.8888888889%;
        text-align: center;
        display: flex;
        flex-wrap: wrap; }
      #item div article div:nth-child(2) a img {
        max-width: 100%;
        margin: auto; }
      #item div article div:nth-child(2) aside {
        border: none;
        box-sizing: border-box;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
        #item div article div:nth-child(2) aside p {
          text-align: center;
          border: none;
          font-weight: bold; }
      #item div article div:nth-child(2) h2 {
        margin-left: 2.2222222222%;
        width: 95.5555555556%;
        hyphens: auto; }
      #item div article div:nth-child(2) p {
        margin-left: 2.2222222222%;
        width: 95.5555555556%;
        text-align: left; }
    #item div article form {
      width: 100%;
      flex-wrap: wrap;
      margin-top: auto;
      margin-bottom: 0;
      display: flex; }
      #item div article form label {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-top: 1em; }
      #item div article form input {
        width: 80%;
        margin: auto;
        text-align: center; }
      #item div article form textarea {
        width: 80%;
        height: 3em;
        margin: auto; }
      #item div article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em; }
    #item div article ul {
      width: 100%; }
      #item div article ul li {
        width: 80%;
        box-sizing: border-box;
        font-weight: normal;
        text-align: left;
        font-size: 1em;
        margin: auto;
        padding: 0.2em; }

@media screen and (min-width: 480px) {
  #item #lienAjout {
    margin-left: 14.4444444444%;
    width: 71.1111111111%; } }
@media screen and (min-width: 600px) {
  #item #message {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
    #item #message div {
      display: block; }
  #item div {
    margin-left: 2.2222222222%;
    width: 71.1111111111%; }
    #item div article {
      margin-left: 2.2222222222%;
      width: 46.6666666667%; } }
@media screen and (min-width: 801px) {
  #item #lienAjout {
    margin-left: 26.6666666667%;
    width: 46.6666666667%;
    margin-right: 20%; } }
@media screen and (min-width: 1281px) {
  #item #lienAjout {
    margin-left: 38.8888888889%;
    width: 22.2222222222%;
    margin-right: 20%; } }
@media screen and (min-width: 1750px) {
  #item div article {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; } }
#home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box; }
  #home article {
    background-color: #e6e6e6; }
  #home article:nth-child(1) {
    margin-top: 0;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    order: 3; }
    #home article:nth-child(1) span {
      margin-top: 2em;
      display: block;
      margin: auto;
      text-align: center; }
  #home article:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    border: none;
    order: 2;
    background-color: white; }
    #home article:nth-child(2) img {
      max-width: 100%;
      margin: auto;
      margin-top: 0;
      border-radius: 10px; }
  #home article:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    order: 1; }
    #home article:nth-child(3) ul {
      list-style-type: none; }
      #home article:nth-child(3) ul li {
        text-align: center;
        margin-top: 0.3em; }

@media screen and (min-width: 480px) {
  #home article:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }
  #home article:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }
    #home article:nth-child(2) ul {
      list-style-type: none; }
      #home article:nth-child(2) ul li {
        margin-top: 0.3em; }
  #home article:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 95.5555555556%; } }
@media screen and (min-width: 1025px) {
  #home article:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 71.1111111111%; }
  #home article:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
  #home article:nth-child(3) {
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
    #home article:nth-child(3) ul {
      list-style-type: none; }
      #home article:nth-child(3) ul li {
        margin-top: 0.3em; } }
#add_item {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #add_item article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #add_item article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #add_item article form label {
        margin-top: 1em;
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #add_item article form label[for=destinataire] {
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #add_item article form label[for=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_item article form label[for=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_item article form input[id=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_item article form input[id=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_item article form input {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
      #add_item article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 26.6666666667%;
        width: 46.6666666667%; }
      #add_item article form textarea {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
  @media screen and (min-width: 280px) {
    #add_item article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #add_item article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #add_item article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #add_item article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #add_item article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #add_item article form {
      width: 40%; } }

#add_liste {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #add_liste article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #add_liste article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #add_liste article form label {
        margin-top: 1em;
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #add_liste article form label[for=destinataire] {
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #add_liste article form label[for=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_liste article form label[for=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_liste article form input[id=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_liste article form input[id=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #add_liste article form input {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
      #add_liste article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 26.6666666667%;
        width: 46.6666666667%; }
      #add_liste article form textarea {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
  @media screen and (min-width: 280px) {
    #add_liste article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #add_liste article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #add_liste article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #add_liste article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #add_liste article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #add_liste article form {
      width: 40%; } }

#sign_up {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #sign_up article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #sign_up article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #sign_up article form label {
        margin-top: 1em;
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #sign_up article form label[for=destinataire] {
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #sign_up article form label[for=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #sign_up article form label[for=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #sign_up article form input[id=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #sign_up article form input[id=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #sign_up article form input {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
      #sign_up article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 26.6666666667%;
        width: 46.6666666667%; }
      #sign_up article form textarea {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
  @media screen and (min-width: 280px) {
    #sign_up article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #sign_up article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #sign_up article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #sign_up article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #sign_up article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #sign_up article form {
      width: 40%; } }

#login {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  #login article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #login article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #login article form label {
        margin-top: 1em;
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #login article form label[for=destinataire] {
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #login article form label[for=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #login article form label[for=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #login article form input[id=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #login article form input[id=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #login article form input {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
      #login article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 26.6666666667%;
        width: 46.6666666667%; }
      #login article form textarea {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
  @media screen and (min-width: 280px) {
    #login article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #login article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #login article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #login article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #login article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #login article form {
      width: 40%; } }

#consulte {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box; }
  #consulte article {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    background-color: #e6e6e6;
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
    #consulte article h2 {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      box-sizing: border-box; }
    #consulte article p {
      padding: 0.5em;
      box-sizing: border-box; }
    #consulte article p:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%; }
    #consulte article p:nth-child(n+3) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      font-weight: bold;
      font-size: 1.3em;
      text-align: right; }
    #consulte article p:nth-child(2n+4) {
      margin-left: 2.2222222222%;
      width: 95.5555555556%;
      text-align: left;
      font-size: 1em;
      font-weight: normal; }
  #consulte article:hover {
    background-color: #b3b3b3; }

@media screen and (min-width: 480px) {
  #consulte article {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; } }
@media screen and (min-width: 1025px) {
  #consulte article {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; } }
#image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  #image article {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    display: flex;
    flex-wrap: wrap; }
    #image article form {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
      margin: auto; }
      #image article form label {
        margin-top: 1em;
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #image article form label[for=destinataire] {
        margin-left: 2.2222222222%;
        width: 34.4444444444%; }
      #image article form label[for=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #image article form label[for=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #image article form input[id=oui] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #image article form input[id=non] {
        margin-left: 2.2222222222%;
        width: 10%; }
      #image article form input {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
      #image article form input:last-child {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 26.6666666667%;
        width: 46.6666666667%; }
      #image article form textarea {
        margin-left: 2.2222222222%;
        width: 46.6666666667%; }
  @media screen and (min-width: 280px) {
    #image article form {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    #image article form {
      width: 80%; } }
  @media screen and (min-width: 600px) {
    #image article form {
      width: 70%; } }
  @media screen and (min-width: 801px) {
    #image article form {
      width: 60%; } }
  @media screen and (min-width: 1025px) {
    #image article form {
      width: 50%; } }
  @media screen and (min-width: 1281px) {
    #image article form {
      width: 40%; } }
  #image #add_image {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.2222222222%;
    width: 95.5555555556%; }
    #image #add_image article {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-left: 0; }
      #image #add_image article form {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 80%; }
        #image #add_image article form label:nth-child(1) {
          margin-left: 2.2222222222%;
          width: 95.5555555556%;
          margin-bottom: 0.5em;
          text-align: center; }
        #image #add_image article form input:nth-child(2) {
          margin-left: 2.2222222222%;
          width: 95.5555555556%;
          height: 1em;
          margin: auto; }
        #image #add_image article form input:nth-child(4) {
          margin-left: 26.6666666667%;
          width: 46.6666666667%; }
  #image #lienRetour {
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    margin: auto;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.5em;
    color: white;
    box-sizing: border-box;
    background-color: #333333;
    text-decoration: none;
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 1s;
    -moz-transition-property: background-color;
    -moz-transition-duration: 1s;
    transition-property: background-color;
    transition-duration: 1s;
    opacity: 0.9;
    text-align: center;
    max-height: 2em; }
    #image #lienRetour:hover {
      cursor: pointer;
      background-color: #4d4d4d; }
    #image #lienRetour a {
      text-decoration: none;
      color: white; }
    #image #lienRetour a:hover {
      color: white; }
  #image article {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.2222222222%;
    width: 95.5555555556%;
    margin-bottom: 0.5em; }
    #image article a:nth-child(1) {
      margin-left: 2.2222222222%;
      width: 71.1111111111%;
      border-radius: 10px;
      font-size: 1rem;
      padding: 0.5em;
      color: white;
      box-sizing: border-box;
      background-color: #333333;
      text-decoration: none;
      -webkit-transition-property: background-color;
      -webkit-transition-duration: 1s;
      -moz-transition-property: background-color;
      -moz-transition-duration: 1s;
      transition-property: background-color;
      transition-duration: 1s;
      opacity: 0.9;
      text-align: center;
      max-height: 2em;
      margin: auto;
      margin-top: 0;
      margin-bottom: 0.5em; }
      #image article a:nth-child(1):hover {
        cursor: pointer;
        background-color: #4d4d4d; }
      #image article a:nth-child(1) a {
        text-decoration: none;
        color: white; }
      #image article a:nth-child(1) a:hover {
        color: white; }
    #image article a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 10%;
      background-image: url("images/supprimer.png");
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-color: transparent;
      text-align: center;
      margin-top: 0.3em;
      margin-right: 10%; }
    #image article img:nth-child(3) {
      margin: auto;
      margin-top: 0;
      margin-left: 2.2222222222%;
      width: 95.5555555556%; }

@media screen and (min-width: 801px) {
  #image #add_image article form label:nth-child(1) {
    margin-left: 2.2222222222%;
    width: 34.4444444444%;
    font-size: 1.3em; }
  #image #add_image article form input:nth-child(2) {
    margin-left: 2.2222222222%;
    width: 58.8888888889%;
    margin-bottom: 0.5em; }
  #image #add_image article form input:nth-child(4) {
    margin-left: 26.6666666667%;
    width: 46.6666666667%; }
  #image article {
    margin-left: 2.2222222222%;
    width: 46.6666666667%; }
    #image article a:nth-child(1) {
      margin-left: 14.4444444444%;
      width: 71.1111111111%; }
    #image article a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 10%;
      margin-right: auto; }
  #image #lienRetour {
    margin-left: 26.6666666667%;
    width: 46.6666666667%;
    margin-right: 20%; } }
@media screen and (min-width: 1281px) {
  #image #add_image article form {
    width: 100%; }
    #image #add_image article form label:nth-child(1) {
      margin-left: 2.2222222222%;
      width: 22.2222222222%;
      font-size: 1.3em; }
    #image #add_image article form input:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 34.4444444444%;
      margin-bottom: 0.8em; }
    #image #add_image article form input:nth-child(4) {
      margin-left: 14.4444444444%;
      width: 10%;
      margin: auto;
      margin-bottom: 0.8em; }
  #image article {
    margin-left: 2.2222222222%;
    width: 22.2222222222%; }
    #image article a:nth-child(1) {
      margin-left: 14.4444444444%;
      width: 71.1111111111%; }
    #image article a:nth-child(2) {
      margin-left: 2.2222222222%;
      width: 10%;
      margin-right: auto; }
  #image #lienRetour {
    margin-left: 38.8888888889%;
    width: 22.2222222222%;
    margin-right: 20%; } }
@media screen and (min-width: 280px) {
  body {
    font-size: 8pt; } }
@media screen and (min-width: 480px) {
  body {
    font-size: 8.5pt; } }
@media screen and (min-width: 600px) {
  body {
    font-size: 9pt; } }
@media screen and (min-width: 801px) {
  body {
    font-size: 10pt; }

  header #accueil {
    width: 50%; }
  header nav {
    width: 50%; }
    header nav a {
      margin-top: auto;
      margin-bottom: auto; } }
@media screen and (min-width: 1025px) {
  body {
    font-size: 11pt; }

  header #accueil {
    width: 60%; }
  header nav {
    width: 40%; }
    header nav a {
      margin-top: auto;
      margin-bottom: auto; } }
@media screen and (min-width: 1281px) {
  body {
    font-size: 12pt; }

  header #accueil {
    width: 80%; }
  header nav {
    width: 20%; }
    header nav a {
      margin-top: auto;
      margin-bottom: auto; } }

/*# sourceMappingURL=design.css.map */
