@mixin add_item($themeColor,$backgroundColor){

#add_item{
	& #lienRetour{
		@include grille(8,10%,3,2);
		margin: auto;
		@include bouton(white,1,lighten($themeColor,20),10px);
		-webkit-transition-property: background-color;
		-webkit-transition-duration: 1s;
		-moz-transition-property: background-color;
		-moz-transition-duration: 1s;
		transition-property: background-color;
		transition-duration: 1s;
		opacity: 0.9;
		text-align: center;
		max-height: 2em;
		margin-top:0.2em;
		margin-bottom:0.2em;
	}
	@include formulaire($themeColor,$backgroundColor);
}

}
