/*****************************/


@mixin alerte($color){
	color: $color;
	border: 1px solid $color;
	width: 100%;
}

/****************************/

.alerte-succes{
	color: green;
	border: 1px solid green;
	width: 100%;
}

.alerte-info{
	border: 1px solid blue;
	color: blue;
	width: 100%;
}

.alerte-avertissement{
	border: 1px solid orange;
	color: orange;
	width: 100%;
}

.alerte-avertissement{
	border: 1px solid red;
	color: red;
	width: 100%;
}
