#item{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	& aside{
		margin-bottom: auto;
		padding: 1em 0 1em 0;
		@include grille(8,10%,0,8);
		background-color: #DCDCDC;
		border: 2px solid black;
		border-radius: 5px;
		& p{
			border: 1px solid black;
			border-radius: 5px;
			font-size: 1em;
			padding: 0.2em;
			text-align: left;
			width: 80%;
			margin: auto;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
		}
		& form{
			width: 80%;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			& textarea{
				@include grille(8,10%,0,8);
			}
			& label{
				@include grille(8,10%,0,8);
				text-align: center;
				font-size: 1.2em;
			}
			& input[type=text]{
				@include grille(8,10%,0,8);
			}
			& input[type=submit]{
				@include grille(8,10%,0,8);
			}
		}
	}
	& div{
		display: flex;
		flex-wrap: wrap;
		@include grille(8,10%,0,8);
	}
	& #lienAjout{
		margin: auto;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		@include bouton(black,1,#CCC414,10px);
		text-align: center;
		@include grille(8,10%,1,6);
		max-height: 2em;
	}
	& div article{
		display: flex;
		flex-wrap: wrap;
		@include grille(8,10%,0,8);
		max-height: 35em;
		& div:first-child{
			width: 100%;
			padding: 0.5em;
			display: flex;
			flex-wrap: wrap;
			& a:hover{
			
			}
			& a:first-child{
				@include grille(8,10%,6,1);
				background-image: url('images/modifier.png');
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
			}
			& a:last-child{
				@include grille(8,10%,0,1);
				background-image: url('images/supprimer.png');
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
			}
		}
		& div:nth-child(2){
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			& a{
				@include grille(8,10%,0,4);
				text-align: center;
				display: flex;
				flex-wrap: wrap;
			}
			& a img{
				margin: auto;
			}
			& aside{
				@include grille(8,10%,0,4);
			}
		}
		& form{
			width:100%;
			flex-wrap: wrap;
			display: flex;
			& label{
				width: 90%;
				margin: auto;
				text-align: center;
				margin-top: 1em;
			}
			& input{
				width: 80%;
				margin: auto;
				text-align: center;
		
			}
			& textarea{
				width: 80%;
				height: 3em;
				margin: auto;
			}
			& input:last-child{
				margin-top: 1em;
				margin-bottom: 1em;
			}
		}
	}
}

@media screen and (min-width: 280px){

}

@media screen and (min-width: 480px){

}

@media screen and (min-width: 600px){
	#item{
		& aside{
			@include grille(8,10%,0,2);
		}
		& div{
			@include grille(8,10%,0,6);
			& article{
			@include grille(8,10%,0,4);
			}
		}
	}
}

@media screen and (min-width: 801px){

}

@media screen and (min-width: 1025px){

}

@media screen and (min-width: 1281px){
	
}

@media screen and (min-width: 1750px){
	#item{
		& div article{
			@include grille(8,10%,0,2);
		}
	}
}
