#item{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	& aside:nth-child(2){
		@include grille(8,10%,0,2);
		background-color: red;
		& p{
			border: 1px solid black;
			border-radius: 5px;
			font-size: 1em;
			padding: 0.2em;
			text-align: justify;
			width: 80%;
			margin: auto;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
		}
		& form{
			width: 80%;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			& textarea{
				@include grille(8,10%,0,6);
			}
			& input{
				@include grille(8,10%,0,2);
			}
		}
	}
	& div{
		@include grille(8,10%,0,6);
		background-color: blue;
	}
	& #lienAjout{
		margin: auto;
		@include bouton(black,1,green,10px);
		text-align: center;
		@include grille(8,10%,0,8);
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	& div article{
		display: flex;
		flex-wrap: wrap;
		@include grille(8,10%,0,8);
		& div:first-child{
			width: 100%;
			padding: 0.5em;
			display: flex;
			flex-wrap: wrap;
			& a:first-child{
				@include bouton(white,0.7,blue,10px);
				margin: auto;
			}
			& a:last-child{
				@include bouton(white,0.7,red,10px);
				margin: auto;
			}
		}
		& div:nth-child(2){
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			& a{
				@include grille(8,10%,0,4);
				text-align: center;
			}
			& aside{
				@include grille(8,10%,0,4);
			}
		}
		& form{
			width:100%;
			flex-wrap: wrap;
			display: flex;
			& label{
				width: 80%;
				margin: auto;
				text-align: center;
				margin-top: 1em;
			}
			& input{
				width: 80%;
				margin: auto;
				text-align: center;
		
			}
			& textarea{
				width: 80%;
				height: 3em;
				margin: auto;
			}
			& input:last-child{
				margin-top: 1em;
				margin-bottom: 1em;
			}
		}
	}
}

@media screen and (min-width: 280px){

}

@media screen and (min-width: 480px){
	#item{
		& div article{
			@include grille(8,10%,0,4);
		}
	}
}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 801px){

}

@media screen and (min-width: 1025px){
	#item{
		& div article{
			@include grille(8,10%,0,2);
		}
	}
}

@media screen and (min-width: 1281px){

}
