@mixin consulte($themeColor,$backgroundColor){

#consulte{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	& article{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		box-sizing: border-box;
		-webkit-transition-property: background-color;
		-webkit-transition-duration: 1s;
		-moz-transition-property: background-color;
		-moz-transition-duration: 1s;
		transition-property: background-color;
		transition-duration: 1s;
		background-color: darken($backgroundColor,10);
		@include grille(8,10%,0,8);
		& h2{
			@include grille(8,10%,0,8);
			box-sizing: border-box;
		}
		& p{
			padding: 0.5em;
			box-sizing: border-box;
		}
		& p:nth-child(2){
			@include grille(8,10%,0,8);
		}
		& p:nth-child(3){
			@include grille(8,10%,0,8);
			font-weight: bold;
			font-size: 1.3em;
			text-align: right;
		}
		& p:nth-child(4){
			@include grille(8,10%,0,8);
		}
	}
	& article:hover{
		background-color: lighten($themeColor,70);
	}
}

@media screen and (min-width: 280px){

}

@media screen and (min-width: 480px){
 	#consulte article{
		@include grille(8,10%,0,4);
	}
}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 801px){

}

@media screen and (min-width: 1025px){
 	#consulte article{
		@include grille(8,10%,0,2);
	}
}

@media screen and (min-width: 1281px){

}

@media screen and (min-width: 1750px){

}

}
