@import 'framework/frameworkCSS';
@import 'formulaire'; //Formulaire générique
@import 'sign_up'; //Inscription
@import 'login'; //Page de loggin (no kidding)
@import 'home'; //Page d'accueil
@import 'item'; //Tous les cadeaux d'une liste
@import 'liste'; //Toutes les listes d'un utilisateur
@import 'add_liste'; //Formulaire ajout liste
@import 'add_item'; //Formulaire ajout cadeau

$backgroundColor: white;
$themeColor: black;


html{
	height: 100%;
}

body{
	font-family: Georgia, Arial;
	display: flex;
	flex-wrap: wrap;
	font-size: 8pt;
	background-color: $backgroundColor;
	height: 100%;
}

#wrapper{
	position:relative;
	min-height: 100%;
	padding-bottom: 8em;
	box-sizing: border-box;
	width: 100%;
}

header{
	background-color: $themeColor;
	opacity: 0.8;
	margin:auto;
	width: 100%;
	@include header(8pt);
	padding-bottom: 0.5em;
	& #accueil{
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		opacity: 0.8;
		& a{
			margin: auto;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			& img{
				max-width: 100%;
				margin: auto;
				border-radius: 0 0 10px 10px;
			}
		}
	}
	& nav{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-top: 0;
		& a{
			margin-top: 0.5em;
			@include bouton(black,1,$backgroundColor,10px);
			opacity: 0.8;
			@include grille(8,10%,0,4);
			text-align: center;
		}
		& a:nth-child(2){
			@include grille(8,10%,0,4);
		}
	}
}

section{
	display: flex;
	flex-wrap: wrap;
}


article{
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding: 0.5em;
	background-color: lighten($backgroundColor,20);
	text-align: justify;
	border: 2px solid black;
	box-sizing: border-box;
	border-radius: 5px;
}

footer{
	width: 100%;
	height: 8em;
	background-color: $themeColor;
	opacity: 0.8;
	color: white;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom:0;
	& div{
		@include grille(8,10%,0,4);
		display: flex;
		flex-wrap: wrap;
		& ul{
			list-style-type: none;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			& li{
				width: 100%;
				padding: 0.5em;
				text-align: center;
				margin: auto;
			}
		}
	}
}

@include liste($themeColor,$backgroundColor);
@include item($themeColor,$backgroundColor);
@include home($themeColor,$backgroundColor);
@include add_item($themeColor,$backgroundColor);
@include add_liste($themeColor,$backgroundColor);
@include sign_up($themeColor,$backgroundColor);
@include login($themeColor,$backgroundColor);

@media screen and (min-width: 280px){
	body{
		font-size: 8pt;
	}
}

@media screen and (min-width: 480px){
	body{
		font-size: 8.5pt;
	}
}

@media screen and (min-width: 600px){
	body{
		font-size: 9pt;
	}
}

@media screen and (min-width: 801px){
	body{
		font-size: 10pt;
	}
	header{
		& #accueil{
			width: 50%;
		}
		& nav{
			width: 50%;
			& a{
				margin-top: auto;
				margin-bottom: auto;
			}	
		}
	}
}

@media screen and (min-width: 1025px){
	body{
		font-size: 11pt;
	}
	header{
		& #accueil{
			width: 60%;
		}
		& nav{
			width: 40%;
			& a{
				margin-top: auto;
				margin-bottom: auto;
			}	
		}
	}
}

@media screen and (min-width: 1281px){
	body{
		font-size: 12pt;
	}
	header{
		& #accueil{
			width: 80%;
		}
		& nav{
			width: 20%;
			& a{
				margin-top: auto;
				margin-bottom: auto;
			}	
		}
	}
}
