@mixin formulaire($themeColor,$backgroundColor){
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	& article{
		@include grille(8,10%,0,8);
		display: flex;
		flex-wrap: wrap;
		& form{
			display:flex;
			flex-wrap: wrap;
			width: 90%;
			margin:auto;
			& label{
				margin-top: 1em;
				@include grille(8,10%,0,3);
			}
			& p{
				padding-top: 0.75em;
				padding-bottom: 0.75em;
				@include grille(8,10%,0,3);
			}
			& label[for=oui]{
				@include grille(8,10%,0,1);
			}
			& label[for=non]{
				@include grille(8,10%,0,1);
			}
			& input[id=oui]{
				@include grille(8,10%,0,1);
			}
			& input[id=non]{
				@include grille(8,10%,0,1);
			}
			& input{
				@include grille(8,10%,0,4);
			}
			& input[type=submit]{
				margin-top: 1em;
				margin-bottom: 1em;
				@include grille(8,10%,2,4);
				background-color: $themeColor;
				border-radius: 10px;
				border: none;
				padding: 4px;
				color:white;

				&:hover {
					background-color: lighten(gray, 40);
					cursor: pointer;
				}
			}
			& textarea{
				@include grille(8,10%,0,4);
			}
			& #obligatoire{
				@include grille(8,10%,0,8);
				font-size: 0.8em;
			}
		}
	}

	@media screen and (min-width: 280px){
		& article form{
			width: 90%;
		}
	}

	@media screen and (min-width: 480px){
		& article form{
			width: 80%;
		}
	}

	@media screen and (min-width: 600px){
		& article form{
			width: 70%;
		}
	}

	@media screen and (min-width: 801px){
		& article form{
			width: 60%;
		}
	}

	@media screen and (min-width: 1025px){
		& article form{
			width: 50%;
		}
	}
	@media screen and (min-width: 1281px){
		& article form{
			width: 40%;
		}
	}
}
