@mixin item($themeColor,$backgroundColor){

#item{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	& #message{
		margin-bottom: auto;
		padding: 1em 0 1em 0;
		@include grille(8,10%,0,8);
		background-color: darken($backgroundColor,10);
		border: 2px solid black;
		border-radius: 5px;
		& div{
			display:none;
			box-sizing: border-box;
			width: 100%;
		}
		& p:nth-child(2n){
			color: lighten(black,30);
		}
		& p{
			box-sizing: border-box;
			font-size: 1em;
			padding: 0.2em;
			text-align: left;
			width: 100%;
			margin: auto;
			margin-top: 0.2em;
			margin-bottom: 0.2em;
			& b{
				font-weight: bold;
			}
		}
		& form{
			width: 80%;
			margin: auto;
			display: flex;
			flex-wrap: wrap;
			& textarea{
				@include grille(8,10%,0,8);
			}
			& label{
				@include grille(8,10%,0,8);
				text-align: center;
				font-size: 1.2em;
			}
			& input[type=text]{
				@include grille(8,10%,0,8);
			}
			& input[type=submit]{
				@include grille(8,10%,0,8);
			}
		}
		& h2:hover~div{
			display:block;
		}
		& div:hover{
			display:block;
		}
	}
	& div{
		display: flex;
		flex-wrap: wrap;
		@include grille(8,10%,0,8);
	}
	& #titre{
		@include grille(8,10%,0,8);
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	& #lienAjout{
		-webkit-transition-property: background-color;
		-webkit-transition-duration: 1s;
		-moz-transition-property: background-color;
		-moz-transition-duration: 1s;
		transition-property: background-color;
		transition-duration: 1s;
		margin: auto;
		margin-bottom: 0.5em;
		margin-top: 0.5em;
		@include bouton(white,1,lighten($themeColor,20),10px);
		opacity: 0.9;
		text-align: center;
		@include grille(8,10%,1,6);
		max-height: 2em;
	}
	& div article[reserved=cagnote]{
		background-color: darken($backgroundColor,20);
		border-color: orange;
	}
	& div article[reserved=taken]{
		background-color: darken($backgroundColor,20);
		border-color: red;
	}
	& div article[reserved=free]{
		border-color: green;
	}
	& div article:hover{
		background-color: lighten($themeColor,70);
	}
	& div article{
		-webkit-transition-property: background-color;
		-webkit-transition-duration: 1s;
		-moz-transition-property: background-color;
		-moz-transition-duration: 1s;
		transition-property: background-color;
		transition-duration: 1s;
		margin-top: 1em;
		margin-bottom: auto;
		display: flex;
		flex-wrap: wrap;
		background-color: darken($backgroundColor,10);
		@include grille(8,10%,0,8);
		max-height: 35em;
		& p:nth-child(3){
			font-weight: bold;
			text-align: center;
			width: 100%;
			padding: 0.5em;
			font-size: 1.5em;
		}
		& div:first-child{
			width: 100%;
			padding: 0.5em;
			display: flex;
			flex-wrap: wrap;
			& a:hover{
			
			}
			& a:first-child{
				@include grille(8,10%,0,1);
				background-image: url('images/images.png');
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
			}
			& a:nth-child(2){
				@include grille(8,10%,5,1);
				background-image: url('images/modifier.png');
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
			}
			& a:nth-child(3){
				@include grille(8,10%,0,1);
				background-image: url('images/supprimer.png');
				width: 20px;
				height: 20px;
				background-repeat: no-repeat;
			}
		}
		& div:nth-child(2){
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			& a{
				@include grille(8,10%,0,5);
				text-align: center;
				display: flex;
				flex-wrap: wrap;
			}
			& a img{
				margin: auto;
			}
			& aside{
				border: none;
				box-sizing: border-box;
				margin-top: auto;
				margin-bottom: auto;
				@include grille(8,10%,0,3);
				& p{
					text-align: center;
					border: none;
					font-weight: bold;
				}
			}
			& h2{
				@include grille(8,10%,0,8);
				hyphens: auto;
			}
			& p{
				@include grille(8,10%,0,8);
				text-align: left;
			}
		}
		& form{
			width:100%;
			flex-wrap: wrap;
			margin-top: auto;
			margin-bottom: 0;
			display: flex;
			& label{
				width: 90%;
				margin: auto;
				text-align: center;
				margin-top: 1em;
			}
			& input{
				width: 80%;
				margin: auto;
				text-align: center;
		
			}
			& textarea{
				width: 80%;
				height: 3em;
				margin: auto;
			}
			& input:last-child{
				margin-top: 1em;
				margin-bottom: 1em;
			}
		}
	}
}

@media screen and (min-width: 280px){

}

@media screen and (min-width: 480px){
	#item #lienAjout{
		@include grille(8,10%,1,6);
	}
}

@media screen and (min-width: 600px){
	#item{
		& #message{
			@include grille(8,10%,0,2);
			& div{display: block;}
		}
		& div{
			@include grille(8,10%,0,6);
			& article{
			@include grille(8,10%,0,4);
			}
		}
	}
}

@media screen and (min-width: 801px){
	#item #lienAjout{
		@include grille(8,10%,2,4);
		margin-right: 20%;
	}
}

@media screen and (min-width: 1025px){

}

@media screen and (min-width: 1281px){
	#item #lienAjout{
		@include grille(8,10%,3,2);
		margin-right: 20%;
	}
}

@media screen and (min-width: 1750px){
	#item{
		& div article{
			@include grille(8,10%,0,2);
		}
	}
}

}
