@mixin liste($themeColor,$backgroundColor){

#liste{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	& #lienAjout{
		margin: auto;
		@include bouton(white,1,lighten($themeColor,20),10px);
		opacity: 0.9;
		text-align: center;
		@include grille(8,10%,0,8);
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
	& article{
		display: flex;
		flex-wrap: wrap;
		@include grille(8,10%,0,8);
		& p:nth-child(1){
			@include grille(8,10%,0,8);
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
			margin-top: auto;
			margin-bottom: auto;
			order: 4;
			& a{
				color: black;
				text-decoration: none;
			}
		}
		& a:nth-child(2){
			@include grille(8,10%,3,1);
			background-image: url('images/url.png');
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			order: 1;
		}
		& a:nth-child(3){
			@include grille(8,10%,1,1);
			background-image: url('images/modifier.png');
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			order: 2;
		}
		& a:nth-child(4){
			margin-top: auto;
			margin-bottom: auto;
			@include grille(8,10%,1,1);
			background-image: url('images/supprimer.png');
			width: 20px;
			height: 20px;
			background-repeat: no-repeat;
			order: 3;
		}
		& p:nth-child(5){
			@include grille(8,10%,0,8);
			padding: 1em 0 1em 0;
			margin-top: auto;
			margin-bottom: auto;
			order: 5;
		}
		& p:nth-child(6){
			@include grille(8,10%,0,6);
			margin-top: auto;
			margin-bottom: auto;
			order: 6;
			text-decoration: underline;
		}
		& p:nth-child(7){
			@include grille(8,10%,0,2);
			text-align: center;
			margin-top: auto;
			margin-bottom: auto;
			order: 7;
		}
	}
	& article[close=y]{
		background-color: darken($backgroundColor,20);
		& p:nth-child(1){
			text-decoration: line-through;
		}
		& p:nth-child(6){
			color: black;
		}
		& a:nth-child(2){
			@include disable();
		}
		& a:nth-child(3){
			@include disable();
		}
		& a:nth-child(4){
			@include disable();
		}
	}
	& article:hover{
		background-color: white;
	}
}

@media screen and (min-width: 280px){

}

@media screen and (min-width: 480px){
	#liste article{
		@include grille(8,10%,0,4);
	}
	#liste #lienAjout{
		@include grille(8,10%,1,6);
	}
}

@media screen and (min-width: 600px){

}

@media screen and (min-width: 801px){
	#liste #lienAjout{
		@include grille(8,10%,2,4);
		margin-right: 20%;
	}
}

@media screen and (min-width: 1025px){

}

@media screen and (min-width: 1281px){
	#liste #lienAjout{
		@include grille(8,10%,3,2);
		margin-right: 20%;
	}
	#liste article{
		& p:nth-child(1){
			@include grille(8,10%,0,5);
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
			margin-top: auto;
			margin-bottom: auto;
			order: 1;
		}
		& a:nth-child(2){
			@include grille(8,10%,0,1);
			margin-top: auto;
			margin-bottom: auto;
			order: 2;
		}
		& a:nth-child(3){
			@include grille(8,10%,0,1);
			margin-top: auto;
			margin-bottom: auto;
			order: 3;
		}
		& a:nth-child(4){
			@include grille(8,10%,0,1);
			margin-top: auto;
			margin-bottom: auto;
			order: 4;
		}
	}
}

@media screen and (min-width: 1750px){
	#liste article{
		@include grille(8,10%,0,2);
		& p:nth-child(1){
			@include grille(8,10%,0,5);
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
			margin-top: auto;
			margin-bottom: auto;
			order: 1;
		}
		& a:nth-child(2){
			@include grille(8,10%,0,1);
			margin-top: auto;
			margin-bottom: auto;
			order: 2;
		}
		& a:nth-child(3){
			@include grille(8,10%,0,1);
			margin-top: auto;
			margin-bottom: auto;
			order: 3;
		}
		& a:nth-child(4){
			@include grille(8,10%,0,1);
			margin-top: auto;
			margin-bottom: auto;
			order: 4;
		}
	}
}

}
