#sign_up{
	form{
		display:flex;
		flex-wrap: wrap;
		width: 100%;
		& label{
			width: 80%;
			margin: auto;
			text-align: center;
			margin-top: 1em;
		}
		& input{
			width: 80%;
			margin: auto;
			text-align: center;
			
		}
		& input:last-child{
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}
